
.demo-6 {
	--color-text: #fff;
	--color-bg: #191919;
	--color-link: #3F51B5;
	--color-link-hover: #ffffff;
	--color-title: #fff;
	--color-subtitle: #fff;
}

.content__title {
	font-family: 'Vidaloka', serif;
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
	line-height: 1;
}

.content__subtitle {
	font-size: 1.25em;
	color: var(--color-subtitle);
	padding: 0 0.75em;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
}

.content__subtitle::before,
.content__subtitle::after {
	content: '';
	position: absolute;
	top: 50%;
	height: 1px;
	background: var(--color-subtitle);
	width: 20%;
}

.content__subtitle::before {
	right: 100%;
}

.content__subtitle::after {
	left: 100%;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3.75em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
	.content__subtitle::before,
	.content__subtitle::after {
		width: 10%;
	}
}

.pater {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif !important;
	position: fixed;
	z-index: 1000;
	right: 0;
	bottom: 0;
	display: grid;
	width: 100%;
	padding: 1em 0;
	text-align: left;
	color: #fff;
	background: #000;
}

.pater:hover, .pater:focus {
	color: #fff;
}

.pater::before {
	content: 'Our Sponsor';
	font-size: 0.75em;
	display: inline-block;
	padding: 0 0 5px 10px;
	vertical-align: middle;
	z-index: 11;
}

.pater__img {
	display: none;
	background-image: url(TLD.png);
	background-size: cover;
}

.pater__title {
	font-size: 0.85em;
	font-weight: normal;
	font-weight: bold;
	margin: 0;
}

.pater__title,
.pater__description {
	padding: 10px 0 0 10px;
}

.pater__description {
	font-size: 0.85em;
	display: none;
	margin: 0;
	opacity: 0;
}

@media screen and (min-width: 60em) {
	.pater {
		top: 0;
		right: 0;
		bottom: auto;
		width: 220px;
		margin: 0 1.5em 0 0;
		padding: 0;
	}
	.pater__img {
		display: block;
		width: 100%;
		position: relative;
		z-index: 10;
	}
	.pater::before {
		display: block;
		padding: 8px;
		position: absolute;
		color: #aaa;
	}
	.pater__description {
		display: block;
		position: absolute;
		top: 150px;
		padding: 1em;
		opacity: 1;
		transform: translate3d(0,-100%,0);
		transition: transform 0.3s;
	}
	.pater:hover .pater__description {
		transform: translate3d(0,0,0);
	}
	.pater__title {
		padding: 1em;
		font-size: 0.85em;
		font-weight: 700;
		transition: opacity 0.5s;
	}
	.pater:hover .pater__title {
		opacity: 0;
	}
	.pater__description,
	.pater__title {
		background: var(--bg-ad);
	}
	.demo-1 { --bg-ad: #171616; }
	.demo-2 { --bg-ad: #0f2e5c; }
	.demo-3 { --bg-ad: #4a8c98; }
	.demo-4 { --bg-ad: #000; }
	.demo-5 { --bg-ad: #000; }
	.demo-6 { --bg-ad: #171616; }
}

.ezdz-dropzone {
    width: 100%;
	color: #02feff;
	/* border-color: #02feff; */
	border: 3px dotted #02feff;
}

.dropZone {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 25%;
    margin-top: -100px;
}

.stage_resultado {
    display: none;
    position: absolute;
    right: 20px;
    width: 25%;
    top: 50%;
	margin-top: -150px;
    border: 3px dotted #02feff;
    padding: 0px 8px 11px;
	border-radius: 20px;
	animation: flicker2 0.2s infinite;
}

#image_loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    margin-left: -200px;
    margin-top: -200px;
    display: none;
}

@keyframes flicker2 {
	0% {
	  box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
	}
	40% {
	  box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
	}
	50% {
	  box-shadow: 0px 0px 50px 17px rgba(150, 255, 255, 0.5), inset 0px 1px 100px 2px rgba(21, 211, 233, 0.3);
	}
	60% {
	  box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
	}
	100% {
	  box-shadow: 0px 0px 60px 25px rgba(150, 255, 255, 0.5), inset 0px 1px 4px 2px rgba(21, 211, 233, 0.3);
	}
  }

  a {
	  color: #02feff !important;
  }

  .stage_resultado h2 {
	color: #02feff;
    text-align: center;
  }



#stage_drusa_buscando{
	display:none;
	position: absolute;
	left: 0;
	top: 0px;
	color: #02feff;
	margin:0;
}
#stage_drusa{
	display:none;
}
#stage_mer_buscando{
	display:none;
	position: absolute;
	left: 0;
	top: 0px;
	color: #02feff;
	margin:0;
}

#stage_edema_buscando{
	display:none;
	position: absolute;
	left: 0;
	top: 0px;
	color: #02feff;
	margin:0;
}

#stage_mer{
	display:none;
}

#stage_edema {
	display: none;
}

#stage_normal {
	display: none;
	width: 100%;
}

#column_resultados {
	display: none;
	width: 20%;
	position: absolute;
	right: 0;
	top: 10px;
	overflow-y: scroll;
	border-radius: 20px;
	/* height: 800px; */
	animation: flicker2 0.2s infinite;
}
.resultado_wrapper {
	display: none;
	float: right;
    right: 20px;
	/* width: 25%; */
	top: 0;
    border: 3px dotted #02feff;
    padding: 0px 8px 11px;
	border-radius: 20px;
	/* animation: flicker2 0.2s infinite; */
}

.resultado_wrapper img {
	max-height: 160px;
}

h4, b {
	color: #02feff;
}