#container {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.dropZone {
    width: 50%;
    float: left;
    padding: 32px;
}

.ezdz-dropzone {
    width: 80%;
    margin: 0 auto;
    color: #02feff;
    border-color: #02feff;
}