{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sahali</title>

    <link rel="stylesheet" href="{% static 'css/jarvis_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.ezdz.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/bg_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="{% static 'css/loading-bar.min.css' %}">

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
        #containerEzdz {
            display: none;
            margin: 0 auto;
            width: 100%;
            text-align: center;
            bottom: 10px;
            position: absolute;
            margin-top: 80px;
        }
        .ezdz-dropzone {
            margin: 0 auto;
            width: 600px;
            clear: both;
            margin-bottom: 2em;
            border: 3px dotted #03fefe;
            color: #00feff;
        }
        .examenwrapper {
            width: calc(25% - 1px);
            float: left;
        }
        .examenwrapper img {
            width: 85%;
            border: 3px solid #02feff;
            border-radius: 8px;
        }
        #arc_container {
            position: static;
        }
        #image_logo {
            position: absolute;
            width: 100px;
            z-index: 1;
            top: 50%;
            margin-top: -12px;
            left: 50%;
            margin-left: -50px;
        }
        #loading_bar {
            width: 300px;
            height: 250px;
            display: block;
            margin: 0 auto;
        }
        .ldBar {
            width: 300px !important;
            height: 215px !important;
        }
        .ldBar-label {
            color: black !important;
        }
        .btn_upload {
            padding: 8px 16px;
            border: 1px solid #02feff;
            color: #02feff;
            margin: 8px;
            background: none;
            font-size: 16px;
            clear: both;
            outline: none;
            border-radius: 8px;
        }
        h2, h3 {
            clear: both;
        }
        .ezdz-dropzone div {
            opacity: 0.4;
            margin-top: 4em;
        }
    </style>
</head>
<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    
    
    <!-- Arc Reactor -->
    <div id="arc_container">
        <div class="arc_reactor">
            <img src="{% static 'images/SahaliA.png' %}" alt="" id="image_logo">
        <div class="case_container">
            <div class="e7">
            <div class="semi_arc_3 e5_1">
                <div class="semi_arc_3 e5_2">
                <div class="semi_arc_3 e5_3">
                    <div class="semi_arc_3 e5_4"></div>
                </div>
                </div>
            </div>
            <div class="core2"></div>
            </div>
            <ul class="marks">
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li>
            </ul>
        </div>
        </div>

        <div class="container" id="containerEzdz">
            <button type="button" class="btn_upload" id="btn_upload">Subir imagen</button>

            <div id="demoWrapper">
                <h2>Exámenes disponibles</h2>
                <div class="examenwrapper" onclick="procesarExamen(1);">
                    <img src="{% static 'images/drusen_1.jpeg' %}" alt="">
                </div>

                <div class="examenwrapper" onclick="procesarExamen(2);">
                    <img src="https://www.zeiss.es/content/dam/Meditec/images/image-text/728x532/products/cirrushdoct/OCT-Cirrus-EDI-DryAMD-728x532.jpg" alt="">
                </div>

                <div class="examenwrapper" onclick="procesarExamen(3);">
                    <img src="https://www.zeiss.es/content/dam/Meditec/images/image-text/728x532/products/cirrushdoct/OCT-Cirrus-EDI-DryAMD-728x532.jpg" alt="">
                </div>

                <div class="examenwrapper" onclick="procesarExamen(4);">
                    <img src="https://www.zeiss.es/content/dam/Meditec/images/image-text/728x532/products/cirrushdoct/OCT-Cirrus-EDI-DryAMD-728x532.jpg" alt="">
                </div>
            </div>

            <div id="uploadZone" style="display:none;">
                <h3>Sube una imagen para procesar</h3>
                <input type="file" name="dropUpload" id="archivoUpload">
            </div>
        </div>
    </div>


    <div id="ex1" class="modal">
        <div class="stage_1">
            <div
                data-preset="fan"
                class="ldBar label-center"
                data-value="0"
                data-preset="stripe"
                data-stroke="#02feff"
                id="loading_bar"
            ></div>
        </div>
        <div class="stage_2" style="display:none;">
            <p style="color:black;"><b>Predicción: </b> <span id="predictedLabel"></span></p>
            <img src="" alt="" id="predictedImage" style="width:100%;border-radius: 8px;margin-bottom: 1em;">
            <a href="#" id="reporteDescargaLink" class="btn-info">Ver reporte</a>
            <a href="#" class="btn-info" rel="modal:close">Listo</a>
        </div>
    </div>
    

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.ezdz.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static 'js/loading-bar.min.js' %}"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('#archivoUpload').ezdz({
                text: "Adjunte o arrastre una imagen",
                accept: function(file){
                    var load_bar = document.getElementById('loading_bar').ldBar;
                    $('.stage_1').css('display', 'block');
                    $('.stage_2').css('display', 'none');

                    $("#ex1").modal({
                        escapeClose: false,
                        clickClose: false,
                        showClose: false
                    });

                    form = new FormData();
                    form.append("imagen", $('#archivoUpload')[0].files[0]);
                    load_bar.set(10);
                    $.ajax({
                        url: '/process/',
                        type: 'POST',
                        data: form,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            load_bar.set(70);
                            dataId = data.split('-')[0]
                            dataPred = data.split('-')[1]
                            
                            if(data != null && data != undefined){
                                setTimeout(function(){
                                    load_bar.set(100);
                                    $('#predictedLabel').html(dataPred.trim());
                                    $('#predictedImage').attr('src', '/media/processed/tmp_'+dataId+'_DRUSSEN.jpg');
                                    $('#reporteDescargaLink').attr('href', "/reporte/"+dataId+"/");

                                    $('.stage_1').fadeOut(function(){
                                        $('.stage_2').fadeIn();
                                        load_bar.set(0);

                                    });
                                });
                                
                            }
                        }
                    });
                    load_bar.set(50);
                }
            });

            $('.examenwrapper').hover(function(){
                $(this).addClass('animated flipInX');
            });
            $(".examenwrapper").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd",function(){
                $(this).removeClass('animated flipInX');
            });

            $('#btn_upload').click(function(){
                if($('#demoWrapper').is(':visible')){
                    $('#demoWrapper').fadeOut(function(){
                        $('#btn_upload').html("Regresar");
                        $('#uploadZone').fadeIn();
                    });
                }else{
                    $('#uploadZone').fadeOut(function(){
                        $('#btn_upload').html("Subir imagen");
                        $('#demoWrapper').fadeIn();
                    });
                }
            });

            setTimeout(function(){
                $('.arc_reactor').animate({
                    top: "25%"
                }, 1500, function(){
                    $('#containerEzdz').fadeIn();
                });
            }, 1000);
        });

        function procesarExamen(num){
            $('.stage_1').css('display', 'block');
            $('.stage_2').css('display', 'none');

            $("#ex1").modal({
                escapeClose: false,
                clickClose: false,
                showClose: false
            });
            // $('#').set(15);
            setTimeout(function(){
                var load_bar = document.getElementById('loading_bar').ldBar;
                load_bar.set(10);
                $.post("/procesar/", {
                    'examen': num
                }, function(res){
                    load_bar.set(70);
                    if(res != null && res != undefined){
                        setTimeout(function(){
                            load_bar.set(100);
                            $('#predictedLabel').html(res.trim());
                            $('#predictedImage').attr('src', '/media/processed/tmp_1_DRUSSEN.jpg');

                            $('.stage_1').fadeOut(function(){
                                $('.stage_2').fadeIn();
                                load_bar.set(0);
                            });
                        });
                        
                    }
                });
                load_bar.set(50);
            }, 500);
        }

        function animateCSS(element, animationName, callback) {
            const node = document.querySelector(element)
            node.classList.add('animated', animationName)

            function handleAnimationEnd() {
                node.classList.remove('animated', animationName)
                node.removeEventListener('animationend', handleAnimationEnd)

                if (typeof callback === 'function') callback()
            }

            node.addEventListener('animationend', handleAnimationEnd)
        }
    </script>  

</body>
</html>