{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="colorlib.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OCT Interfaz</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.ezdz.min.css' %}">

    <style type="text/css">
        .ezdz-dropzone {
            width: 80%;
            line-height: 300px;
            height: 300px;
            color: #2ec12b !important;
            border: 10px dotted #2ec12b;
        }
        .logo {
            width: 200px;
            float: right;
            margin: 1em;
        }
        canvas {
            display: block;
            position: fixed;
            top:0;
            left:0;
        }
        .current .title .step-number {
            background: #2cc12c !important;
            color: #fff;
        }
        .title .step-text {
            color: #d6d6d6 !important;
        }
        .container {
            background: transparent !important;
        }
        .actions ul li a {
            background: #2ec12b !important;
        }
        .content, .actions {
            background: #f8f8f8DD;
        }
    </style>
</head>

<body>

    <canvas id="canvas">Canvas is not supported in your browser.</canvas>
    <canvas id="canvas2">Canvas is not supported in your browser.</canvas>

    <div class="main">

        <div class="container">
            <form method="POST" id="signup-form" class="signup-form" action="#">
                <div>
                    <img src="{% static 'images/LogoMakr_29C86e.png' %}" class="logo"> 
                    <h3>Personal</h3>
                    <fieldset>
                        <h2>Información personal</h2>
                        <p class="desc">Ingresa tu información personal</p>
                        <div class="fieldset-content">
                            <div class="form-row">
                                <label class="form-label">Nombre completo</label>
                                <div class="form-flex">
                                    <div class="form-group">
                                        <input type="text" name="first_name" id="first_name" />
                                        <span class="text-input">Nombre</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="last_name" id="last_name" />
                                        <span class="text-input">Apellido</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">Correo</label>
                                <input type="email" name="email" id="email" />
                                <span class="text-input">Ej.  :<span>  juan@gmail.com</span></span>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="form-label">Teléfono</label>
                                <input type="text" name="phone" id="phone" />
                            </div>
                            <div class="form-date">
                                <label for="birth_date" class="form-label">Fecha de nacimiento</label>
                                <div class="form-date-group">
                                    <div class="form-date-item">
                                        <select id="birth_month" name="birth_month"></select>
                                        <span class="text-input">MM</span>
                                    </div>
                                    <div class="form-date-item">
                                        <select id="birth_date" name="birth_date"></select>
                                        <span class="text-input">DD</span>
                                    </div>
                                    <div class="form-date-item">
                                        <select id="birth_year" name="birth_year"></select>
                                        <span class="text-input">YYYY</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ssn" class="form-label">No. de identificación</label>
                                <input type="text" name="ssn" id="ssn" />
                            </div>
                        </div>
                    </fieldset>

                    <h3>Sube tu examen</h3>
                    <fieldset>
                        <h2>Sube tu examen</h2>
                        <p class="desc">Arrastra o examina tus archivos y sube la imagen del examen</p>
                        <div class="fieldset-content">
                            <div class="form-group">
                                <input type="file" name="fileArchivo" id="fileArchivo">
                            </div>
                            
                        </div>
                    </fieldset>

                    <h3>Resultados</h3>
                    <fieldset>
                        <h2>Resultados</h2>
                        <p class="desc">Resultados del examen predecido</p>
                        <div class="fieldset-content">
                            <img src="#" alt="" id="imagenResultado">

                            <br />
                            <h2 id="patologias"></h2>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/dist/additional-methods.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'vendor/minimalist-picker/dobpicker.js' %}"></script>
    <script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'vendor/wnumb/wNumb.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery.ezdz.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#fileArchivo').ezdz({
                'text': "Arrastra la imagen"
            });
        });
        

        var canvas = document.getElementById( 'canvas' ),
		ctx = canvas.getContext( '2d' ),
        canvas2 = document.getElementById( 'canvas2' ),
        ctx2 = canvas2.getContext( '2d' ),
        // full screen dimensions
        cw = window.innerWidth,
        ch = window.innerHeight,
        charArr = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
        maxCharCount = 100,
        fallingCharArr = [],
        fontSize = 10,
        maxColums = cw/(fontSize);
        canvas.width = canvas2.width = cw;
        canvas.height = canvas2.height = ch;


        function randomInt( min, max ) {
            return Math.floor(Math.random() * ( max - min ) + min);
        }

        function randomFloat( min, max ) {
            return Math.random() * ( max - min ) + min;
        }

        function Point(x,y){
            this.x = x;
            this.y = y;
        }

        Point.prototype.draw = function(ctx){

            this.value = charArr[randomInt(0,charArr.length-1)].toUpperCase();
            this.speed = randomFloat(1,5);


            ctx2.fillStyle = "rgba(255,255,255,0.8)";
            ctx2.font = fontSize+"px san-serif";
            ctx2.fillText(this.value,this.x,this.y);

            ctx.fillStyle = "#0F0";
            ctx.font = fontSize+"px san-serif";
            ctx.fillText(this.value,this.x,this.y);



            this.y += this.speed;
            if(this.y > ch){
                this.y = randomFloat(-100,0);
                this.speed = randomFloat(2,5);
            }
        }

        for(var i = 0; i < maxColums ; i++) {
            fallingCharArr.push(new Point(i*fontSize,randomFloat(-500,0)));
        }


        var update = function(){

            ctx.fillStyle = "rgba(0,0,0,0.05)";
            ctx.fillRect(0,0,cw,ch);

            ctx2.clearRect(0,0,cw,ch);

            var i = fallingCharArr.length;

            while (i--) {
                fallingCharArr[i].draw(ctx);
                var v = fallingCharArr[i];
            }

            requestAnimationFrame(update);
        }

    update();
    </script>
</body>

</html>
