{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OCT Js</title>
    <link rel="stylesheet" href="{% static 'css/oct_v1.css' %}">
</head>
<body>
    
    <div id="container"></div>





    <script src="{% static 'vendor/threejs/three.min.js' %}"></script>
    <script src="{% static 'vendor/threejs/OrbitControls.js' %}"></script>
    <script src="{% static 'vendor/threejs/LineMaterial.js' %}"></script>
    <script src="{% static 'vendor/threejs/LineSegmentsGeometry.js' %}"></script>
    <script src="{% static 'vendor/threejs/WireframeGeometry2.js' %}"></script>
    <script src="{% static 'vendor/threejs/Wireframe.js' %}"></script>
    <script type="text/javascript">

var wireframe, renderer, scene, camera, camera2, controls;
			var wireframe1;
			var matLine, matLineBasic, matLineDashed;
			var stats;
			var gui;
			// viewport
			var insetWidth;
			var insetHeight;
			init();
			animate();
			function init() {
				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setClearColor( 0x000000, 0.0 );
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );
				scene = new THREE.Scene();
				camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 1000 );
				camera.position.set( - 50, 0, 50 );
				camera2 = new THREE.PerspectiveCamera( 40, 1, 1, 1000 );
				camera2.position.copy( camera.position );
				controls = new THREE.OrbitControls( camera, renderer.domElement );
				controls.minDistance = 10;
				controls.maxDistance = 500;
				// Wireframe ( WireframeGeometry2, LineMaterial )
				var geo = new THREE.IcosahedronBufferGeometry( 20, 1 );
				var geometry = new THREE.WireframeGeometry2( geo );
				matLine = new THREE.LineMaterial( {
					color: 0x4080ff,
					linewidth: 5, // in pixels
					//resolution:  // to be set by renderer, eventually
					dashed: false
				} );
				wireframe = new THREE.Wireframe( geometry, matLine );
				wireframe.computeLineDistances();
				wireframe.scale.set( 1, 1, 1 );
				scene.add( wireframe );
				// Line ( THREE.WireframeGeometry, THREE.LineBasicMaterial ) - rendered with gl.LINE
				geo = new THREE.WireframeGeometry( geo );
				matLineBasic = new THREE.LineBasicMaterial( { color: 0x4080ff } );
				matLineDashed = new THREE.LineDashedMaterial( { scale: 2, dashSize: 1, gapSize: 1 } );
				wireframe1 = new THREE.LineSegments( geo, matLineBasic );
				wireframe1.computeLineDistances();
				wireframe1.visible = false;
				scene.add( wireframe1 );
				//
				window.addEventListener( 'resize', onWindowResize, false );
				onWindowResize();
				// stats = new Stats();
				// document.body.appendChild( stats.dom );
				// initGui();
			}
			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( window.innerWidth, window.innerHeight );
				insetWidth = window.innerHeight / 4; // square
				insetHeight = window.innerHeight / 4;
				camera2.aspect = insetWidth / insetHeight;
				camera2.updateProjectionMatrix();
			}
			function animate() {
				requestAnimationFrame( animate );
				// stats.update();
				// main scene
				renderer.setClearColor( 0x000000, 0 );
				renderer.setViewport( 0, 0, window.innerWidth, window.innerHeight );
				// renderer will set this eventually
				matLine.resolution.set( window.innerWidth, window.innerHeight ); // resolution of the viewport
				renderer.render( scene, camera );
				// inset scene
				renderer.setClearColor( 0x222222, 1 );
				renderer.clearDepth(); // important!
				renderer.setScissorTest( true );
				renderer.setScissor( 20, 20, insetWidth, insetHeight );
				renderer.setViewport( 20, 20, insetWidth, insetHeight );
				camera2.position.copy( camera.position );
				camera2.quaternion.copy( camera.quaternion );
				// renderer will set this eventually
				matLine.resolution.set( insetWidth, insetHeight ); // resolution of the inset viewport
				renderer.render( scene, camera2 );
				renderer.setScissorTest( false );
			}
			//
			
    </script>
</body>
</html>