<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>

        <img src="https://cv.patrii.com/static/logo_cofca.png" alt="" width="300px" style="display:block; margin:0 auto;margin-bottom:1em;">

        <h3 style="text-align:center;">RESULTADOS DE ANÁLISIS DE TOMOGRAFÍA ÓPTICA COHERENTE</h3>
        <p><b>PACIENTE: </b>Juan Perez</p>
        <p><b>FECHA: </b>16 de Noviembre de 2019</p>

        <hr />

        <div style="width:100%; overflow:hidden; padding-bottom:1em;">
            <p align="justify">
                Imagen de corte tomográfico de la mácula con centro foveal, en donde se puede encontrar:
            </p>
            
            <div style="width:50%;float:left;box-sizing:border-box">
                <img src="http://sahali.co{{ an.imagen.url }}" alt="" style="display:block;margin:0 auto;width:80%;">
                <p align="center">Imagen Original</p>
            </div>


            {% if an.mer %}
                <div style="width:50%;float:left;box-sizing:border-box">
                    <img src="http://sahali.co/media/processed/tmp_{{ an.pk }}_MER.jpg" alt="" style="display:block;margin:0 auto;width:80%;">
                    <p align="center">Membrana Epiretiniana Macular</p>
                </div>
            {% endif %}

            {% if an.drusas %}
                <div style="width:50%;float:left;box-sizing:border-box">
                    <img src="http://sahali.co/media/processed/tmp_{{ an.pk }}_DRUSSEN.jpg" alt="" style="display:block;margin:0 auto;width:80%;">
                    <p align="center">Degeneración Macular Asociada a la edad Seca</p>
                </div>
            {% endif %}

            {% if an.edema %}
                <div style="width:50%;float:left;box-sizing:border-box">
                    <img src="http://sahali.co/media/processed/tmp_{{ an.pk }}_EDEMA.jpg" alt="" style="display:block;margin:0 auto;width:80%;">
                    <p align="center">Edema Macular Quístico</p>
                </div>
            {% endif %}
        </div>
    </body>
</html>